.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    height: 100%;
    max-width: 80px;
    width: 100%;
    text-align: center;
}

.items {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    max-width: 70px;
    width: 100%;
    text-align: center;

}

.item.selected {
    background-color: green;
    color: white;
}